
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /* color */
  --primary: #1a1835;
  --secondary: #f3f4ee;
  --accent: #f9b41a;
  --accent2: #875c49;
  --accent4: #90939f;

  /* font-family */
  --font-family: "Poppins", sans-serif;

  /* padding */
  /* --padding-container: 0 6rem; */
  --padding-header: 1rem 6rem;
  --padding-seccion: 67px 0;
  --padding-button-basic: 0.9rem 2.1rem;

  /* gap */
  --gap-basic: 1.9rem;
  --gap-2: 1.9rem 1.2rem;
  --gap-3: 1.2rem;

  /* border */
  --border: .15rem solid var(--accent);
  --border-radius-button-basic: 1rem;

  /* transform */
  /* transform */

  /* scale */
  --scale-basic: scale(1.1);
  --scale-2: scale(105%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--secondary);
  scroll-behavior: smooth;
  text-decoration: none;
  
  view-timeline-axis: block;
  animation-range: entry 15% cover 50%;
  animation-fill-mode: both;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(.25);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hide-to-right {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes hide-from-left {
    from {
        transform: translateX(0) scaleX(1);
    }
    to {
        transform: translateX(50%) scaleX(0);
    }
}

@keyframes from-left {
    from {
        opacity: 0;
        transform: translateX(-75%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes to-left {
  from {
    opacity: 1;
    transform: translatex(0);
  }
  to {
    opacity: 0;
    transform: translatex(-75%);
  }
}

@keyframes from-right {
    from {
        opacity: 0;
        transform: translateX(75%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes to-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(75%);
  }
}


@keyframes from-top {
    from {
        opacity: 0;
        transform: translateY(-75%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes to-top {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-75%);
  }
}

@keyframes from-bottom {
    from {
        opacity: 0;
        transform: translateY(75%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes to-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(75%);
  }
}

[class^="img"] {
    object-fit: cover;
}

body {
    background-color: var(--primary);
    overflow-x: hidden;
}

.main {
    margin: 0 5vw;
    display: flex;
    gap: clamp(7rem, 14vw, 12rem);
    flex-direction: column;
    position: relative;
    padding-bottom: 5rem;
}

.header-main {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    z-index: 1;

    .h3 {
        font-size: 1.5rem;
        
        a {
            transition: .2s color ease-in;
            
            &:hover {
                color: var(--accent);
            }
        }
    }
}

.label-menu {
    display: none;
    cursor: pointer;
}

.h3, .nav {
    z-index: 10;
}

.nav {
    position: fixed;
    top: 1rem;
    right: 5vw;

    .ul {
        list-style: none;
        display: flex;
        gap: clamp(2rem, 3vw, 4rem);
        font-size: clamp(1rem, 1.3vw, 1.2rem);

        .li {
            .a-nav {
                position: relative;
                
                &:hover {
                    color: var(--accent);
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    border: .15rem solid var(--accent);
                    transition: .2s transform ease-in;
                    transform-origin: left;

                    transform: scaleX(0);
                }
            }
            .active {
                color: var(--accent);
                &::after {
                    transform: scaleX(1);
                }
            } 
        }

        .li:hover {
            transform: scale(1.1);
            position: relative;
        }
    }
}


.shownav {
    display: none;
}

/* [class^="section"] {
    min-height: 100vh;
} */

[class^="h4"] {
    font-size: 2.4rem;
    font-weight: 800;
    
    view-timeline-name: --section-title;
    animation-timeline: --section-title;
    animation-name: appear;

    .span-h4 {
        color: var(--accent);
    }
}

/* .section-home {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
}

.content-home {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10vw;
}

.texts-home {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .h1 {
        font-size: clamp(1.7rem, 5vw, 3rem);
    }

    .h2 {
        font-size: clamp(1.4rem, 4vw, 2rem);
        color: transparent;
        -webkit-text-stroke: 1px var(--accent);
        width: max-content;
        position: relative;
    }

    .h2::after {
        content: 'Frontend Developer';
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        color: var(--accent);
        -webkit-text-stroke: 0 transparent;
        background-color: var(--primary);
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        
        animation: subtitle_reveal 7s linear infinite;
        mask-image: linear-gradient(to right, black 0%, black 100%);
        mask-repeat: no-repeat;
        mask-size: 0% 100%;
        mask-position: left;
    }
    
    .h2::before {
        content: '';
        position: absolute;
        top: 0;
        border-right: var(--border);
        height: 100%;
        background-color: var(--accent);
        z-index: 2;
        
        animation: cursor_move 7s linear infinite, cursor_blink 7s linear infinite;
    }
    
    .mantra {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        width: max-content;
        max-width: 100%;

        .p {
            width: 100%;
            color: var(--accent4);
        }

        .span {
            font-weight: 600;
        }
    }
}

@keyframes subtitle_reveal {
  0%, 20% {
    mask-size: 0% 100%;
  }
  70%, 80% {
    mask-size: 100% 100%;
  }
  100% {
    mask-size: 0% 100%;
  }
}

@keyframes cursor_move {
  0%   { left: 0%; }
  20%  { left: 0%; }
  70%  { left: 100%; }
  80%  { left: 100%; }
  100% { left: 0%; }
}

@keyframes cursor_blink {
  0%, 9.9%, 20%, 70%, 75.1%, 100% {
    border-right: var(--border);
  }
  10%, 75% {
    border-right: none;
  }
}

.actions-home {
    display: flex;
    flex-wrap: wrap;
    gap: .7rem 1rem;

    .button:last-child {
        background-color: var(--primary);
        color: var(--accent);
        border: var(--border);
    }
}

.media-home {
    display: flex;
    align-items: center;
    gap: 1rem;

    .a-media {
        border: var(--border);
        color: var(--accent);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        padding: .7rem;

        .span-media {
            color: var(--accent);
            font-weight: 800;
        }
    }

    .a-media:last-child {
        color: var(--secondary);
    }
}

.picture-container {
    display: flex;
    justify-content: end;
    max-width: 45%;
    max-height: 95vh;

    animation: retrato_picture_container 7s linear;
}

.picture-home {
    z-index: 1;
    max-width: 90%;
    overflow: hidden;
    position: relative;
    border-radius: 2rem; 

    mix-blend-mode: lighten;

    
    [class^="img"] {
        width: 130%;
        height: auto;
        min-height: 100%;
        position: relative;
        left: -10%;
        transition: .2s left ease-in;
        transition-property: filter, width, left;
        
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/code.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        mix-blend-mode: lighten;
        background-color: var(--primary);
        z-index: 1;
        opacity: 0;

        transition: .3s opacity ease-in;
        box-shadow: inset 0px 2.5rem 2rem .5rem var(--primary);
        
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -5%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%) scaleX(-1) translateY(40%);
        background-image: url(../images/buho.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        z-index: 10;
        opacity: 0;

        transition: .2s ease-in;
        transition-property: opacity, transform;
        mask-image: linear-gradient(
            black 80%,
            transparent
        );
    }
    
    
    &:hover {
        
        [class^="img"] {
            filter: blur(.4rem);
            width: 100%;
            left: 0;

            transition: .4s filter .3s ease-out, .2s width ease-in, .2s left ease-in;
        }

        &::before {
            opacity: 1;
            transition: .3s opacity .1s ease-in;
        }
        &::after {
            opacity: 1;
            transform: translateX(-50%) scaleX(-1);
        }
    }
} */

/* ABOUT */

/* .section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 3rem;
}

.picture-about {
    width: clamp( 10rem, 20vw, 20rem );
    aspect-ratio: 4/5;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 1rem;


    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/paisaje.jpg);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        filter: blur(.3rem);
        
        transition: .2s ease-in;
        transition-property: background-size, filter;
        
        z-index: 0;
    }
        

    .img-about {
        position: absolute;
        bottom: 0;
        height: 100%;
        transform: translateY(-7.5%) scale(1.15) ;

        transition: .2s transform ease-in;

        mask-image: linear-gradient( black 97%, transparent );
    }


    &:hover {

        &::before {
            background-size: 100%;
            filter: blur(0);
        }

        .img-about {
            transform: translateY(10%) scale(.8) ;
            mask-image: linear-gradient( black 97.5%, transparent );
        }
    }
}

.h6-about {
    font-size: 1.5rem;
}

.p-about {
    font-size: clamp( .7rem, 1vw, 1rem );
} */

/* WORK */

/* .section-work {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.project-work {
    display: grid;
    gap: 2rem;
}

.h5-work {
    font-size: 1.3rem;
    width: 70%;

    border-bottom: .15rem solid var(--accent);
}

.picture-work {
    position: relative;
    max-height: 65vh;
    width: 100%;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Practice\ Tool.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(.2rem);
        opacity: 0;

        transition: .2s opacity ease-in;
    }

    .picture-work-span {
        position: absolute;
        font-weight: 600;
        color: var(--accent);
        font-size: clamp(1rem, 5vw, 2rem);
        z-index: 1;
        opacity: 0;

        transition: .2s ease-in;
        transition-property: opacity, transform;
        transform: translateY(10rem);
    }

    &:hover {
        &::before {
            opacity: 1;
        }
        .picture-work-span {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.p-work {
    font-size: clamp(.7rem, 3vw, 1rem);
}

.cta-container {
    display: flex;
    justify-content: center;
}

.a-work-cta {
    width: max-content;
    margin-top: 2rem;
    
    .button-work {
        cursor: pointer;
        padding: 1rem;
        font-size: clamp(.8rem, 3vw, 1rem);
        font-weight: 700;
        background-color: var(--accent);
        color: var(--primary);
        border: none;
        outline: none;
        border-radius: .5rem;
    }
} */

/* SKILLS */

/* .section-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 4vw, 5rem);
}

.containers-skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    gap: 2rem;
}

.container-skills {
    width: 100%;
}

.subcontainer-skills {
    display: grid;
    gap: 1rem;
}

.h6-skills {
    font-size: clamp(.9rem, 5vw, 1.3rem);
    margin-bottom: 1rem;
}

.box-skills {
    border: var(--border);
    border-radius: 1rem;
    display: grid;
    gap: 2.5rem;
    padding: 1.8rem 1.5rem;
    
    transition: .2s transform ease-in;

    &:hover {

        transform: scale(103%);
    }
}

[class^="box-skill-"] {
    display: grid;
    gap: 1rem;
    
    transition: .2s transform ease-in;
    
    &:hover {
        
        transform: translateY(-10%);
        
        .img-skill {
            transform: scale(1.4);
        }
    }
}

.skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.label-skill {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.picture-skill {
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-skill {
    max-height: 1.5rem;
    transition: .2s transform ease-in;
}

.progress {
    width: 100%;
    margin: 0 .5rem;
    -webkit-appearance: none;
    height: 1.5rem;
}

::-webkit-progress-bar {
  border: 1px solid var(--accent);
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  color: var(--accent);
}

::-webkit-progress-value {
  border-radius: 3px;
  background-color: var(--accent);
} */

@media (max-width: 1000px) {

    .label-menu {
        display: block;
    }
    
    .nav {
        top: 62px;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(26, 24, 53, 0.9);
        display: none;

    }
    
    .main:has(input:checked) {

        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            .ul {
                flex-direction: column;
                align-items: center;
            }
        }
        
        /* .picture-home {
            z-index: -1;
        } */
    } 

    /* .section-home {
        justify-content: center;
    }
    
    .content-home {
        width: 100%;
        padding: 0;
    }
    
    .content-home, .picture-container {
        justify-content: center;
        max-width: 90%;
        .picture-home {
            transform: translateY(0);
            width: 100%;
        }
    } */

}
